<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Antarctica  Weather</title>    
</head>
	
<body>
	<h1 class="site-title"> Base Orcadas Weather </h1>

	<!-- Navigation Bar -->
	<nav class="main-nav">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/login">Login</a></li>
		<li><a href="/search">Search</a></li>
	</ul>
	</nav>


	
</body>
</html>